.contactPage {
    background-color: #ADD8E6;
    /* height: 100vh; */
	width: 100vw;
}

.contact {
    margin: 0 auto;
    padding: 50px;
    max-width: 400px;
    width: 100%;
    height: 100vh;
}

.contact h1 {
    font-size: 2.5em;
}

.contact label {
    font-weight: bold;
}

.icon {
    color: #f3ecdf;
    background-color: #404C58;
    font-size: 1.8em;
    padding: 8px;
    vertical-align: -2;
}

.form-group {
    margin-bottom: 1em;
}

.contactPage input {
    padding: 0 0.6em 0.15em 0.6em;
}

/* .contactPage textarea {
    width: 93%;
} */

.contactPage button {
    /* padding: 0 2.7em 0.15em 2.7em; */
    width: 80%;
    padding-bottom: 0.24em;
    background-color: rgb(247, 240, 240);
}

@media(min-width: 900px) {
    .contact {
        max-width: 580px;
    }

    .contact h1 {
        font-size: 3.5em;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .form-group {
        display: flex;
    }

    .contact label {
        margin-right: 4em;
    }

    #emailLabel {
        margin-right: 2.3em;
    }

    #phoneLabel {
        margin-right: 4.7em;
    }

    #messageLabel {
        margin-right: 5.3em;
    }

    .contactPage input {
        padding: 0 1.1em 0.15em 1.1em;
    }

    .contactPage button {
        width: 87%;
        padding-bottom: 0.24em;
        /* padding: 0 8em 0.15em 8em; */
    }
}