.Navbar {
  background-color: #404C58;
  display: flex;
  padding: 10px;
  font-family: sans-serif;
  color: white;
  justify-content: space-around;
  list-style-type: none;
}

.Navbar__Link {
  padding-right: 2em;
  color: #FFF;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
}

.Navbar__Link:hover {
  color: #ADD8E6;
}

.Navbar__Icon {
  margin-right: 10px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Link-brandLink {
  text-decoration: none;
  font-family: 'Mr Dafoe', cursive;
  font-size: 2em;
  color: #FFF;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Items--left {
  order: -1
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

.Navbar__Items {
    display:none;
  }

.Navbar__Items--right {
    margin-left:0;
  }

.Navbar__ToggleShow {
    display: flex;
  }

.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
  
  .Navbar__Link-brand {
    order: -1;
  }
  
}